[submodule "workspace/ws-ros1/src/a1_description"]
	path = workspace/ws-ros1/src/a1_description
	url = git@gitlab.com:beerlab/unitree_a1/a1_description.git
[submodule "workspace/ws-ros1/src/be2r_cmpc_unitree"]
	path = workspace/ws-ros1/src/be2r_cmpc_unitree
	url = git@gitlab.com:beerlab/unitree_a1/be2r_cmpc_unitree.git
[submodule "workspace/ws-ros1/src/raisim_ros_wrapper"]
	path = workspace/ws-ros1/src/raisim_ros_wrapper
	url = git@gitlab.com:beerlab/unitree_a1/raisim_ros_wrapper.git
[submodule "workspace/ws-ros1/src/raisim_unitree_ros_driver"]
	path = workspace/ws-ros1/src/raisim_unitree_ros_driver
	url = git@gitlab.com:beerlab/unitree_a1/raisim_unitree_ros_driver.git
[submodule "workspace/ws-ros1/src/unitree_legged_msgs"]
	path = workspace/ws-ros1/src/unitree_legged_msgs
	url = git@gitlab.com:beerlab/unitree_a1/unitree_legged_msgs.git
[submodule "workspace/ws-ros1/src/kindr"]
	path = workspace/ws-ros1/src/kindr
	url = https://github.com/anybotics/kindr.git
[submodule "workspace/ws-ros1/src/kindr_ros"]
	path = workspace/ws-ros1/src/kindr_ros
	url = https://github.com/anybotics/kindr_ros.git
[submodule "workspace/lcm"]
	path = workspace/lcm
	url = https://github.com/lcm-proj/lcm.git
[submodule "workspace/ws-ros1/src/unitree_legged_sdk"]
	path = workspace/ws-ros1/src/unitree_legged_sdk
	url = git@gitlab.com:beerlab/unitree_a1/unitree_legged_sdk.git
